
@font-face {
  font-family: 'rubik';
  src: url('../../assets/fonts/rubik.ttf');
}

$mini-tab: 500px;
$tab: 700px;
$desktop: 1100px;

$br: 20px;

$colors: (
  work: hsl(15, 100%, 70%),
  play: hsl(195, 74%, 62%),
  study:hsl(348, 100%, 68%),
  exercise: hsl(145, 58%, 55%),
  social:hsl(264, 64%, 52%),
  self-care: hsl(43, 84%, 65%)
);
:root {
  --card-padding: 30px;
  --side-padding: clamp(20px, 5dvw, 10%);
  --font-size: 18px;
  --card-size: 300px;

  --hero-bg: hsl(246, 80%, 60%);

  
  --bg: hsl(226, 43%, 10%);
  --card-bg: hsl(235, 46%, 20%);
  --previous: hsl(235, 45%, 61%);
  --hero: hsl(236, 100%, 87%);
}
